.parent {
     background-image: url(https://pixabay.com/get/g0c128edfec0a13cf9f71e752207e6f21ef4fc2578e712a623587158b25a4e64d713fdd2ed045b6fc1cbd41094e40494ccbd64fa35bdfa190624c503ba235342a_1280.jpg);
     background-size: cover;
}

.form_container {
     width: max-content;
     margin: 45px 80px;
}

.main {
     padding: 30px 0px;
     border-radius: 20px;
     display: inline-block;
     width: 400px;
     height: max-content;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background-color: rgba(222, 222, 222, 0.7);
}

h1 {
     text-align: center;
     color: #102d6b;
     font-size: 30px;
}

h3 {
     color: gray;
     font-size: 14px;
     font-weight: 500;
}


.btn {
     height: 40px;
     padding: 10px;
     border-radius: 30px;
     border: 0px;
     color: white;
     background-color: #102d6b;
     margin: 1px;
}

.btn:hover {
     cursor: pointer;
}

.google_btn {
     width: 300px;
     margin-top: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.google_btn p {
     display: inline-block;
     margin-left: 15px;
}

.account_btn {
     width: 150px;
}


form {
     margin: 20px 0 10px 0;
     height: auto;
     padding: 5px 0;
}

form label {
     color: #E4E4E7;
     display: block;
     margin-bottom: 10px;
}

form input {
     width: 300px;
     height: 40px;
     padding: 10px;
     border-radius: 30px;
     border: 1px solid #94A3B8;
     transition: all 1s linear;
}

input:focus {
        outline: 0;
        width: 300px;
    }

.rem {
     display: inline-block;
     width: 15px;
     height: 15px;
}

.me {
     display: inline-block;
     margin-left: 5px;
}

/* 
    ====================================================================
    main foot
    ====================================================================
    */

.main_foot {
     color: #64748B;
}

a {
     text-decoration: none;
     color: #2563EB;
}

.main_foot h3 {
     margin-top: 10px;
}