.footer_container {
     background-color: #0f346c;
     font-family: "PT Sans", sans-serif;
     font-style: italic;
     font-weight: 100;
     color: #696d75;
     display: flex;
     justify-content: space-between;
     padding: 0 80px;
     align-items: center;
     height: 80px;
     width: 100%;
}