/*
=================================================================================
    max width of 1200px
=================================================================================
*/

@media only screen and (max-width: 1200px) {

    .header_cont {
        justify-content: center;
        width: 798px;
    }

    .header_nav {
        justify-content: space-between;
        gap: unset;
    }

    .hero_sub {
        margin-left: 11%;
    }

    .hero_hd p {
        font-size: 32px;
        line-height: 38px;
    }

}


/*
=================================================================================
    max width of 1198px
=================================================================================
*/

@media only screen and (max-width: 1198px) {

    .header_cont {
        width: 940px;
    } 

    .qlt_cont {
        width: 96%;
    }

}

/*
=================================================================================
    max width of 1100px
=================================================================================
*/

@media only screen and (max-width: 1100px) {

    .cat {
        width: 18.5%;
    }

    .qlt_main {
        width: 97%;
        justify-content: unset;
        gap: 30px;
    }

    .qlt_main_sub {
        width: 32%;
    }

    .qlt_img {
        height: 230px;
    }

}

/*
=================================================================================
    max width of 961px
=================================================================================
*/

@media only screen and (max-width: 961.5px) {

    .header_nav {
        display: none;
    }

    .hero_sub {
        margin-left: 15px;
    }

}


/*
=================================================================================
    max width of 961px
=================================================================================
*/

@media only screen and (max-width: 960px) {

    .header_cont {
        justify-content: space-between;
    }

    .burger_cont {
        display: inline-block;
    }

}

/*
=================================================================================
    max width of 958px
=================================================================================
*/

@media only screen and (max-width: 958px) {

    .hero_sub {
        margin-left: 100px;
    }

    .aft_hr_main h3 p {
        font-size: 24px;
        line-height: 29px;
        font-weight: 600;
        letter-spacing: 3px;
    } 

    .aft_hr_main h1 p {
        font-size: 32px;
        line-height: 38px;
        font-weight: 600;
    }

    .offers_main {
        flex-wrap: unset;
        flex-direction: row;
        overflow: scroll;
        gap: 10px;
    }

    .cat {
        flex-shrink: 0;
        width: 198px;
        height: 289px;
    }

    .qlt_head h2 p {
        font-size: 32px;
        line-height: 24px;
        font-weight: 700;
    }

    .qlt_head h6 p {
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
    }

    .qlt_main_sub .five:last-of-type {
        margin: 0;
    }

    .act_main h6 p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
    }

    .act_main h5 p {
        font-size: 18px;
        font-weight: 900;
        line-height: 24px;
    }

    .act_main .six {
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        padding: 25px 6px;
    }
 

}


/*
=================================================================================
    max width of 860px
=================================================================================
*/

@media only screen and (max-width: 860px) {

    .art {
        width: 100%;
    }

    .art_div {
        margin: auto 12%;
    }

    .footer_cont {
        width: 85%;
    }


}


/*
=================================================================================
    max width of 768px
=================================================================================
*/

@media only screen and (max-width: 768px) {

    .hero_mid {
        justify-content: unset;
    }

    .hero_mid_cont {
        width: auto;
        margin-left: 20px;
    }

    .hero_mid_right {
        display: none;
    }

    .start_main {
        width: 400px;
        height: auto;
        padding: 24px 0;
    }

    .start_main h4 p {
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        margin-bottom: 23px;
    }

    .start_main .eight {
        font-size: 16px;
        line-height: 21px;
        font-weight: 400;
        margin-bottom: 30px;
    }

    article {
        height: 82px;
    }

    .art {
        justify-content: center;
    }

    .art_left .four {
        display: none;
    }

    .art_div {
        display: none;
    }

    .art_right {
        display: none;
    }


}


/*
=================================================================================
    max width of 767px
=================================================================================
*/

@media only screen and (max-width: 767.5px) {

    header {
        justify-content: end;
    }

    .header_cont {
        width: 55%;
        margin: 10px;
    }

    .hero_main {
        justify-content: center;
        text-align: center;
        height: 220px;
    }

    .hero_mid {
        height: auto;
    }

    .hero_mid_cont {
        width: 95%;
        flex-direction: column;
        height: auto;
        margin: auto;
    }

    .hero_mid_right {
        width: 100%;
        height: 215px;
        display: inline;
        order: 1;
    }

    .hero_mid_left {
        order: 2;
        width: 100%;
        height: auto;
        padding: 24px 16px;
        align-content: unset;
    }

}

